<nav class="navbar">
  <div class="logo-container">
    <img src="assets/logo-refugio-fe.png" alt="Logo Refugio de Fe" class="logo" />
    <span class="nombre-ministerio">Refugio de Fe</span>
  </div>

 <ul class="menu">
    <li><a routerLink="/home"><fa-icon [icon]="faHome"></fa-icon> Inicio</a></li>
    <li><a routerLink="/devocionales"><fa-icon [icon]="faBookOpen"></fa-icon> Devocionales</a></li>
    <li><a routerLink="/testimonios"><fa-icon [icon]="faUsers"></fa-icon> Testimonios</a></li>
    <li><a routerLink="/musica"><fa-icon [icon]="faMusic"></fa-icon> Música</a></li>
    <li><a routerLink="/videos"><fa-icon [icon]="faVideo"></fa-icon> Videos y Mas</a></li>
    <li><a routerLink="/donaciones"><fa-icon [icon]="faHandHoldingHeart"></fa-icon> Donaciones</a></li>

  </ul>
</nav>








