<swiper
  class="mySwiper"
  [slidesPerView]="1"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [loop]="true"
  [autoplay]="{ delay: 4000, disableOnInteraction: false }"
>
  <ng-template swiperSlide>
    <img src="assets/slider/imagen1.jpg" alt="Imagen 1" />
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/slider/imagen2.jpg" alt="Imagen 2" />
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/slider/imagen3.jpg" alt="Imagen 3" />
  </ng-template>
</swiper>






