
<section class="hero-section" style="background-image: url('assets/slider/imagen1.jpg');">
  <div class="overlay">
    <h1 class="welcome-text">Bienvenido a tu Ministerio Virtual ✨</h1>
    <p class="verse">"Porque yo sé los planes que tengo para ti..." – Jeremías 29:11</p>
    <button routerLink="/devocionales" class="btn-devocionales">Ver Devocionales</button>
  </div>
</section>


<section class="slider-title-section animate-fade-in">
  <h2 class="section-title">🕊️ Momentos de Inspiración</h2>
  <p class="daily-message">{{ mensajeDelDia }}</p>
</section>



<div class="slider-wrapper">
  <app-slider></app-slider>
</div>

<section class="mision-vision-section">
  <h2 class="titulo-principal">Nuestro Propósito</h2>
  <div class="mision-vision-cards">
    <div class="card-mv">
      <h3>Misión</h3>
      <p>
        Compartir el amor de Dios, edificar vidas y extender esperanza a través de la Palabra, la música y testimonios reales.
      </p>
    </div>
    <div class="card-mv">
      <h3>Visión</h3>
      <p>
        Ser un refugio espiritual para quienes buscan paz, consuelo y dirección en Jesucristo, desde cualquier lugar del mundo.
      </p>
    </div>
  </div>
</section>

<section class="seccion-fe">
  <h2 class="titulo-fe">Fortalece tu fe</h2>
  <p class="subtitulo-fe">Sumérgete en contenido que edifica: testimonios reales, música de adoración y mensajes inspiradores.</p>
</section>


<div class="cards-section">
  <div class="card">
    <h3>Testimonios</h3>
    <p>Historias de vida transformadas por la fe.</p>
  </div>
  <div class="card">
    <h3>Música</h3>
    <p>Alabanza y adoración para tu tiempo devocional.</p>
  </div>
  <div class="card">
    <h3>Videos</h3>
    <p>Mensajes de esperanza y enseñanza bíblica.</p>
  </div>
</div>





